@import "reset.css";'
@import "responsive.css";
@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  src: url('../fonts/Helvetica.ttf');
}

body {
overflow-x: hidden;
width: 100%;
margin: 0;
background-color: #F5F5E9;
}
