@import "reset.css";'
@import "responsive.css";
@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  src: url('../fonts/Helvetica.ttf');
}

.header {
  width: 100vw;
  position: fixed;
}
