@import "reset.css";'
@import "responsive.css";
@font-face {
  font-family: "Helvetica";
  font-weight: normal;
  src: url('../fonts/Helvetica.ttf');
}

/* ПОДЛОЖКА */
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .4;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #F5F5E9;
  font-family: "Helvetica";
}
.wrapper {
  position: relative;
  width: 100%;
  background: transparent;
  overflow: hidden;
}
.header {
  width: 100vw;
  position: fixed;
  background: #F5F5E9;
  opacity: .4;
}
.menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  grid-area: menu;
  height: 9vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}
.frog {
  text-decoration: none;
  font-size: 18px;
  color: #F5F5E9;
  background-color: #602D91;
  width: 23vw !important;
  padding: 1vh 0;
  text-align: center;
  display: inline-block;
  border-radius: 30px;
}
.shop, .who_we_are, .events {
  text-decoration: none;
  font-size: 18px;
  color: #602D91;
  background-color: #F5F5E9;
  display: inline-block;
  text-align: center;
  width: 23vw !important;
  padding: 1vh 0;
  border-radius: 30px;
  border: 1px solid #602D91;
}
